p {
	font-weight: bold;
	color: red;
}

h1 {
	font-weight: lighter;
	color: orange;
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 4px 4px 5px red;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 4px;
}
